@import "tailwindcss";

@theme {
  --color-primary-blue: #003366;
  --color-secondary-blue: #004B8D;
  --color-accent-blue: #00A3E0;
  --color-sallie-blue: #114B7F;
  --color-bg-light-blue: #E8F6FA;
  --color-bg-light-green: #E9F9F4;
}

body {
  @apply antialiased min-h-screen font-sans;
  background-color: #f5fbff;
  background-image: 
    radial-gradient(at 0% 0%, rgba(255, 255, 255, 1) 0%, transparent 50%),
    radial-gradient(at 100% 0%, rgba(173, 232, 255, 0.4) 0%, transparent 60%),
    radial-gradient(at 100% 100%, rgba(255, 255, 255, 1) 0%, transparent 50%),
    radial-gradient(at 0% 100%, rgba(186, 230, 253, 0.3) 0%, transparent 60%),
    radial-gradient(at 50% 50%, rgba(224, 242, 254, 0.2) 0%, transparent 100%);
  background-attachment: fixed;
  color: #1A1A1A;
}
